@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Movie Service</h1>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Movies</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: movies">
                    <li>
                        <strong><span data-bind="text: DirectorName"></span></strong>: <span data-bind="text: Title"></span>
                        <small><a href="#" data-bind="click: $parent.getMovieDetail">Details</a></small>
                        <button type="button" class="btn btn-default" data-bind="click: $parent.deleteMovie">Delete</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <!-- ko if:detail() -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detail</h2>
            </div>
            <table class="table">
                <tr><td>Director</td><td data-bind="text: detail().DirectorName"></td></tr>
                <tr><td>Title</td><td data-bind="text: detail().Title"></td></tr>
                <tr><td>Year</td><td data-bind="text: detail().Year"></td></tr>
                <tr><td>Genre</td><td data-bind="text: detail().Genre"></td></tr>
            </table>
        </div>
    </div>

    <!-- /ko -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add Movie</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addMovie">
                    <div class="form-group">
                        <label for="inputDirector" class="col-sm-2 control-label">Director</label>
                        <div class="col-sm-10">
                            <select data-bind="options:directors, optionsText: 'Name', value: newMovie.Director"></select>
                        </div>
                    </div>

                    <div class="form-group" data-bind="with: newMovie">
                        <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputTitle" data-bind="value:Title" />
                        </div>

                        <label for="inputYear" class="col-sm-2 control-label">Year</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputYear" data-bind="value:Year" />
                        </div>

                        <label for="inputGenre" class="col-sm-2 control-label">Genre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputGenre" data-bind="value:Genre" />
                        </div>

                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Add Director -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add Director</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addDirector">

                    <div class="form-group" data-bind="with: newDirector">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" data-bind="value:Name" />
                        </div>

                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Delete Director -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Delete Director</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: deleteDirector">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Director</label>
                        <div class="col-sm-10">
                            <select data-bind="options:directors, optionsText: 'Name', value: selectedDirector"></select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Delete</button>
                </form>
            </div>
        </div>
    </div>

</div>